#privacy
  markdown:

    Privacy
    =======

    We are commited to your privacy. We'll never use your data for other uses than for this project.
    
    If you are worried about your privacy, don't use this web site.
    
    If you want to delete your account, it's straightforward, simple and clear. We'll delete all your content and we'll not keep any copy of your data.
    
    If you don't trust us we understand you. Just don't give us your data.
