#show
  position: relative
  .mailbox-header
    width: 70%
    height: 60px
    line-height: 20px
    margin-bottom: 20px
    .mailbox
      font-size: 20px
      line-height: 55px
  .timestamp
    position: absolute !important
    right: 0
    +metro-button($grey, "D")
  .edit
    +metro-button($darkgrey, "j")


  .mailsquare-cont
    font-weight: bold
    .mailsquare.bad
      +mailsquare($red)
    .mailsquare.good
      +mailsquare($green)
    .mailsquare.warn
      +mailsquare($yellow)

  .inbox
    width: 70%
    .inbox-text
      +textbox
    .mailsquare-cont
      margin-top: 20px

  .protip-cont
    width: 29%
    margin-left: .5%
    .protip
      background: $grey
      padding: 15px
      .title
        font-weight: bold

  .defer-header
    margin-bottom: 10px
    .defer-text
      +textbox
  .defer-cont
    .title
      font-weight: bold
      border-top: 1px solid $grey
    .defer-box
      margin-bottom: 10px
      .mail
        position: relative
        background: $grey
        width: 70%
        margin: 5px 0
        padding: 5px
        .icon
          height: 100%
          width: 5%
          position: absolute
        .p
          position: absolute
          width: 80%
          left: 7%
          top: 15px
        .subject
          position: absolute
          width: 80%
          left: 7%
          top: 35px

#dashboard
  ul
    li
      margin-bottom: 10px
      .mailbox
        display: block
        background-color: #eee
        padding: 10px 10px
        padding-left: 20px
        text-decoration: none
        line-height: 40px
        position: relative

        &:hover
          background-color: #ddd

        .title
          font-size: 30px
          font-weight: 300

        .status
          position: absolute
          top: 0px
          right: 0px
          width: 80px
          bottom: 0px
          background-color: #7bb337

  footer
    margin-top: 20px
    font-size: 15px

    a
      margin-left: 10px
      +metro-button(#645642, "Z")

