form
  fieldset
    margin-bottom: 20px

    legend
      font-weight: 300
      font-size: 20px
      margin-bottom: 10px

  input[type="submit"]
    +metro-button(#0a486b, "W")

  .input
    position: relative
    margin-top: 10px

    &:first-child
      margin-top: 0

    &> label
      position: absolute
      top: 0
      left: 0
      width: 140px
      line-height: 25px

    &> textarea,
    &> input[type="text"],
    &> input[type="password"],
    &> input[type="email"],
    &> input[type="number"],
    &> select,
    &> div
      margin-left: 150px
      width: 300px

    &> input[type="text"],
    &> input[type="password"],
    &> input[type="email"],
    &> input[type="number"],
      border: 1px solid #aaaaaa
      +border-radius(4px)
      padding: 4px 4px
      width: 300px - 4px * 2
      font-size: 13px
      font-family: 'Open Sans', 'Helvetica', 'Arial'

