form
  fieldset
    margin-bottom: 20px

    legend
      font-weight: 300
      font-size: 20px
      margin-bottom: 10px

    .input
      position: relative
      margin-top: 4px

      label
        position: absolute
        top: 0
        left: 0
        width: 140px
        line-height: 20px

      textarea, input[type="text"], input[type="password"], input[type="email"]
        margin-left: 150px

