=homesection
  margin: 20px auto
  background: image-url('exclusive_paper.png')
  font-family: Georgia
  line-height: 25px
  font-size: 19px
  color: #444
  text-align: justify
  padding: 40px

#home
  padding: 30px 0
  text-align: center

  #zero-inbox-manifest
    width: 530px
    +rotate(-1deg)
    +homesection

  #problem-focus
    width: 100%
    padding: 5px
    margin-bottom: 20px
    +homesection
    h3
      color: $yellow

  .stepover
    width: 100%
    text-align: center
    margin-bottom: 20px
    .button
      float: left
      text-align: center
      width: 35%
      margin: 0 7%
      padding: 3px
      +radius-shadow

  #not
    +homesection
    h3
      color: $red

  #be
    +homesection
    h3
      color: $green

  p, ol
    margin-bottom: 20px

  ul
    li
      list-style-type: disc
      margin-left: 20px
      margin-bottom: 10px

      strong
        font-weight: bold
        padding-right: 6px

        &:after
          content: ": "



