#home
  padding: 30px 0
  text-align: center

  h2
    font-size: 50px
    font-weight: 300
    margin-bottom: 20px

  h3
    font-size: 25px
    margin-top: 40px
    margin-bottom: 40px
    line-height: 27px

  #zero-inbox-manifest
    padding: 40px
    width: 530px
    margin: 20px auto
    background: image-url('exclusive_paper.png')
    +box-shadow(rgba(black, 0.3) 0px 4px 10px)
    font-family: Georgia
    line-height: 25px
    font-size: 19px
    color: #444
    text-align: justify
    +rotate(-1deg)

    p, ol
      margin-bottom: 20px

    ul
      li
        list-style-type: disc
        margin-left: 20px
        margin-bottom: 10px

        strong
          font-weight: bold
          padding-right: 6px

          &:after
            content: ": "



