$green: #7D9D2F
$yellow: #FF8F30
$red: #FF0029
$grey: #CDD0CB
$darkgrey: #8B8683

=textbox
  background: $darkgrey
  padding: 15px
  color: #fff
  margin-right: 2px

=mailsquare($color)
  width: 80px
  height: 80px
  font-size: 48px
  font-weight: bolder
  color: white
  text-align: right
  margin: 2px
  background: $color

@include font-face("Entypo", font-files("entypo-webfont.eot", "entypo-webfont.svg", "entypo-webfont.ttf", "entypo-webfont.woff"))
+global-reset

body
  font-family: 'Open Sans', 'Helvetica', 'Arial'
  font-size: 14px
  color: #222

.clear
  clear: both

.alignleft
  float: left

.alignright
  float: right

.center
  text-align: center

.button
  text-align: center
  padding: 7px 10px
  margin: 10px auto
  background: $darkgrey
  font-weight: bold

.box
  width: 100%
  position: relative
  margin-bottom: 20px
  padding: 5px
  border-top: 1px solid $darkgrey
  +clearfix
a
  color: #333
  text-decoration: none

