@include font-face("Entypo", font-files("entypo-webfont.eot", "entypo-webfont.svg", "entypo-webfont.ttf", "entypo-webfont.woff"))
+global-reset

body
  font-family: 'Open Sans', 'Helvetica', 'Arial'
  font-size: 14px
  color: #222

.clear
  clear: both

.alignleft
  float: left

.alignright
  float: right

.center
  text-align: center

.button
  text-align: center
  padding: 10px
  margin: 10px auto
  +radius-shadow

a
  color: #333
  text-decoration: none

