#mail-report
  // border: 1px solid #ccc
  // padding: 40px
  width: 100%
  // margin: 20px auto
  // +box-shadow(rgba(black, 0.3) 0px 4px 10px)
  // +nested-reset
  // font-family: Helvetica, Arial
  // text-align: left

  .mailstat
    font-size: 30px
    line-height: 35px
    color: #333
    margin-bottom: 20px

  .greetings
    font-weight: bold
    color: #666
    font-size: 15px
    margin-bottom: 20px

  .folder
    width: 210px
    height: 335px
    float: left
    margin-left: 2%
    padding: 2px

    header
      width: 210px
      padding: 5px
      h2
        font-size: 22px
        padding: 5px 0
        margin-bottom: 10px
        text-align: center
        margin: 0 0 0 0

    .mails
      font-size: 16px
      width: 190px
      height: 264px
      padding: 10px
      text-align: center


      .image
        width: 190px
        height: 190px
        margin-bottom: 10px
        &.tip
          background: url("protips.jpg")
        &.priority
          background: url("highpriority.jpg")
        &.progress
          background: url("progress.jpg")
