header#site-header
  +pie-clearfix
  padding: 20px 0
  background-color: #26ade4
  color: white
  margin-bottom: 30px
  +text-shadow(rgba(black, 0.3) 0 1px 0)

  a
    color: white
    text-decoration: underline

    &:hover
      text-decoration: none

  .inner
    +wrap

  #logo
    float: left
    font-size: 20px
    font-weight: bold

  ul
    float: right

    li
      display: inline-block
      margin: 0px 10px
