header#site-header
  +pie-clearfix
  padding: 20px 0
  background-color: $azure
  color: white
  margin-bottom: 30px

  a
    color: white
    text-decoration: underline

    &:hover
      text-decoration: none

  .inner
    +wrap

  #logo
    float: left
    font-size: 50px
    font-weight: bold
    a
      text-decoration: none

  ul
    float: right

    li
      display: inline-block
      margin: 0px 10px
