header#site-header
  +pie-clearfix
  background-color: $azure
  color: white
  margin-bottom: 30px
  line-height: 50px
  padding: 30px 0 15px

  a
    color: white
    text-decoration: underline

    &:hover
      text-decoration: none

  .inner
    +wrap

  #logo
    float: left
    font-size: 50px
    font-weight: 300

    a
      text-decoration: none

  ul
    float: right

    li
      display: inline-block
      margin: 0px 10px
